# Number of WebSocket connections
NUM_CONNECTIONS = {number}

# Data collection period (in seconds)
COLLECTION_PERIOD = {seconds}

# Binance WebSocket server address
BINANCE_WS_URL = "{url}"

# Stream for subscription
STREAM_NAME = "{stream}"

# File for recording data in async
OUTPUT_FILE_1 = "{name}.json"

# File for recording data in multiprocessing
OUTPUT_FILE_2 = "{name}.json"

File for recording data in multiprocessing finally out analysis
OUTPUT_FILE_3 = "{name}.json"