# Number of WebSocket connections
NUM_CONNECTIONS = {number}

# Data collection period (in seconds)
COLLECTION_PERIOD = {seconds}

# Binance WebSocket server address
BINANCE_WS_URL = "{url}"

# Stream for subscription
STREAM_NAME = "{stream}"

# File for recording data
OUTPUT_FILE = "{name}.json"